<include file="Public/header" />

<div class="container">
    <div class="row">

        <div class="col-xs-12 col-md-9 main">
            <!--二级导航-->
            <ul class="nav nav-tabs" >
            <li role="presentation" class="active"><a href="stayhungry.html">热门职位</a></li>
            <li role="presentation" ><a href="stayhungry_new.html">最新职位</a></li>
            </ul>



            <!--最新职位-->
                <div  class="position_list" >
                    <ul class="clearfix">
                        <li class="position_list_item" >
                            <div class="pli_top">
                                <div class="fl pli_top_l">
                                    <div class="position_name">
                                        <!--  -->

                                        <h2 class="fl"><a href="#" target="_blank" class="position_link fl wordCut">PHP高级工程师<span>[北京]</span></a></h2>
                                        <!-- 此处需要和后台确认 -->
                                        <span class="fl">2016-07-15</span>
                                    </div>
                                    <div>
                                        <span class="salary fl">10k-20k</span>
                                        <span><!-- <i class="experience"></i>&nbsp;  -->经验1-3年</span> / <span>本科</span>
                                    </div>
                                </div>
                                <div class="fr pli_top_r">
                                    <div class="company_name wordCut">
                                        <a href="//www.lagou.com/gongsi/125497.html" target="_blank" data-lg-tj-id="vz00" data-lg-tj-no="0001" data-lg-tj-cid="125497">优才学院</a>
                                    </div>
                                    <div class="industry wordCut">
                                        <span> 中国IT职业教育O2O创新品牌</span> / <span>成长型(A轮)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pli_btm">
                                <div class="pli_btm_l fl wordCut">
                                    “优才意即优秀人才，优才无限通过在线教育的手段培养优秀专业人才。”
                                </div>
                                <div class="pli_btm_r fl">
                                    <span>项目前景好</span>
                                    <span>团队特欢乐</span>
                                    <span>都8590后</span>
                                </div>
                            </div>
                        </li>
                        <li class="position_list_item"  data-jobId = "2036462" data-positionid="2036462" data-salary="20k-30k" data-company="这里科技（北京总部）" data-positionname="Python后台研发工程师" data-companyid="33236">
                            <div class="pli_top">
                                <div class="fl pli_top_l">
                                    <div class="position_name">
                                        <!--  -->


                                        <h2 class="fl"><a href="" target="_blank" class="position_link fl wordCut" >Python后台研发工程师<span>[北京]</span></a></h2>
                                        <!-- 此处需要和后台确认 -->
                                        <span class="fl">2016-06-30</span>
                                    </div>
                                    <div>
                                        <span class="salary fl">20k-30k</span>
                                        <span><!-- <i class="experience"></i>&nbsp;  -->经验3-5年</span> / <span>大专</span>
                                    </div>
                                </div>
                                <div class="fr pli_top_r">
                                    <div class="company_name wordCut">
                                        <a href="" target="_blank">这里科技（北京总部）</a>
                                    </div>
                                    <div class="industry wordCut">
                                        <span> 移动互联网</span> / <span>成长型(A轮)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pli_btm">
                                <div class="pli_btm_l fl wordCut">
                                    “良好氛围,原始股,弹性工作,万元房补”
                                </div>
                                <div class="pli_btm_r fl">
                                    <span>项目前景好</span>
                                    <span>团队特欢乐</span>
                                    <span>都8590后</span>
                                </div>
                            </div>
                        </li>
                </ul>
                    </div>

         </div>

     <!--侧边栏-->
     <div class="col-xs-12 col-md-3 side mt30">
         <div class="card card-block">
             <h4 class="card-title">个人档案</h4>
             <p class="card-text">你的档案一片空白啊</p>
             <p class="card-text text-muted">把擅长什么开发，用啥编辑器，有什么开源项目等等，通通亮上。</p>
             <a href="#" class="btn btn-primary">创建我的档案</a>
         </div>


     </div><!--侧边栏结束-->

    </div>
</div>

<include file="Public/footer" />
