<!--stayfoolish页面，求知，问答-->
<include file="Public/header" />
<div class="container">
    <div class="row">

        <div class="col-xs-12 col-md-9 main">
            <ul class="nav nav-tabs nav-tabs-zen mb10 mt30">
                <li role="presentation"  class="active"><a href="{:U('Home/Index/stayfoolish')}">最热的</a></li>
                <li role="presentation" ><a href="{:U('Home/Index/stayfoolish_new')}">最新的</a></li>

            </ul>

            <!--主内容，question-->
            <div class="stream-list">
                <section class="stream-list__item">
                    <div class="qa-rank">
                        <div class="votes plus hidden-xs">
                            6<small>投票</small>
                        </div>
                        <div class="answers answered">
                            8<small>回答</small>
                        </div>
                        <div class="views hidden-xs">
                            1024<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li class="pull-right" title="9 收藏">
                                <small class="glyphicon glyphicon-bookmark"></small> 9
                            </li>
                            <li>
                                <a href="#">stackfull</a>
                                <span class="split"></span>
                                <a href="#">5分钟前回答</a>
                            </li>
                        </ul>
                        <h2 class="title"><a href="#">PHP 开发中有哪些不好的编程习惯需要避免?</a></h2>
                        <ul class="taglist--inline ib">
                            <li class=""><a class="tag tag-sm" href="#" data-toggle="popover" data-original-title="php" data-id="">php</a></li>
                        </ul>
                    </div>
                </section>
            </div>

            <!--主内容，question-->
            <div class="stream-list ">
                <section class="stream-list__item">
                    <div class="qa-rank">
                        <div class="votes plus hidden-xs">
                            6<small>投票</small>
                        </div>
                        <div class="answers answered">
                            8<small>回答</small>
                        </div>
                        <div class="views hidden-xs">
                            1024<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li class="pull-right" title="9 收藏">
                                <small class="glyphicon glyphicon-bookmark"></small> 9
                            </li>
                            <li>
                                <a href="#">stackfull</a>
                                <span class="split"></span>
                                <a href="#">5分钟前回答</a>
                            </li>
                        </ul>
                        <h2 class="title"><a href="#">php如何获取 页面多个相同name的 input 值</a></h2>
                        <ul class="taglist--inline ib">
                            <li class=""><a class="tag tag-sm" href="#" data-toggle="popover" data-original-title="php" data-id="">php</a></li>
                        </ul>
                    </div>
                </section>
            </div>

            <!--主内容，question-->
            <div class="stream-list ">
                <section class="stream-list__item">
                    <div class="qa-rank">
                        <div class="votes plus hidden-xs">
                            6<small>投票</small>
                        </div>
                        <div class="answers answered">
                            8<small>回答</small>
                        </div>
                        <div class="views hidden-xs">
                            1024<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li class="pull-right" title="9 收藏">
                                <small class="glyphicon glyphicon-bookmark"></small> 9
                            </li>
                            <li>
                                <a href="#">stackfull</a>
                                <span class="split"></span>
                                <a href="#">5分钟前回答</a>
                            </li>
                        </ul>
                        <h2 class="title"><a href="#">thinkphp中的配置：'DEFAULT_CHARSET' 是在哪些地方生效的？</a></h2>
                        <ul class="taglist--inline ib">
                            <li class=""><a class="tag tag-sm" href="#" data-toggle="popover" data-original-title="php" data-id="">php</a></li>
                            <li class=""><a class="tag tag-sm" href="#" data-toggle="popover" data-original-title="thinkphp" data-id="">thinkphp</a></li>
                        </ul>
                    </div>
                </section>
            </div>


            <!--主内容，question-->
            <div class="stream-list ">
                <section class="stream-list__item">
                    <div class="qa-rank">
                        <div class="votes plus hidden-xs">
                            6<small>投票</small>
                        </div>
                        <div class="answers answered">
                            8<small>回答</small>
                        </div>
                        <div class="views hidden-xs">
                            1024<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li class="pull-right" title="9 收藏">
                                <small class="glyphicon glyphicon-bookmark"></small> 9
                            </li>
                            <li>
                                <a href="#">stackfull</a>
                                <span class="split"></span>
                                <a href="#">5分钟前回答</a>
                            </li>
                        </ul>
                        <h2 class="title"><a href="#">【大神在哪里】mysql并发的问题，能不能有办法避免sql出错的情况，数据的完整性怎才能做到……？</a></h2>
                        <ul class="taglist--inline ib">
                            <li class=""><a class="tag tag-sm" href="#" data-toggle="popover" data-original-title="php" data-id="">php</a></li>
                            <li class=""><a class="tag tag-sm" href="#" data-toggle="popover" data-original-title="mysql" data-id="">mysql</a></li>
                            <li class=""><a class="tag tag-sm" href="#" data-toggle="popover" data-original-title="sql" data-id="">sql</a></li>
                        </ul>
                    </div>
                </section>
            </div>

            <!--主内容，question-->
            <div class="stream-list ">
                <section class="stream-list__item">
                    <div class="qa-rank">
                        <div class="votes plus hidden-xs">
                            6<small>投票</small>
                        </div>
                        <div class="answers answered">
                            8<small>回答</small>
                        </div>
                        <div class="views hidden-xs">
                            1024<small>浏览</small>
                        </div>
                    </div>
                    <div class="summary">
                        <ul class="author list-inline">
                            <li class="pull-right" title="9 收藏">
                                <small class="glyphicon glyphicon-bookmark"></small> 9
                            </li>
                            <li>
                                <a href="#">stackfull</a>
                                <span class="split"></span>
                                <a href="#">5分钟前回答</a>
                            </li>
                        </ul>
                        <h2 class="title"><a href="#">PHP 开发中有哪些不好的编程习惯需要避免?</a></h2>
                        <ul class="taglist--inline ib">
                            <li class=""><a class="tag tag-sm" href="#" data-toggle="popover" data-original-title="php" data-id="">php</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>

        <!--侧边栏-->
        <div class="col-xs-12 col-md-3 side mt30">
            <div class="side-ask alert alert-warning">
                <p>StackFull 是一个程序员的求知、求职的社区。</p>
                <div class="mt10 side-system-notice">
                    <i class="fa fa-bullhorn pull-left"></i>
                    <a class="side-system-notice--title" href="#">The good seaman is known in bad weather.</a>
                </div>
            </div>
        </div>

        <!--排行榜-->
        <div class="col-xs-12 col-md-3 side mt30">

            <div class="list-group">
                <a href="#" class="list-group-item active">
                    排行榜
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>

        </div>


    </div>
</div>
<include file="Public/footer" />