.stream-list{margin-bottom:10px}
.stream-list.top-indent{margin-top:-10px}
.stream-list__item{margin:0;border-bottom:1px solid #eee;padding:10px 0}
.stream-list__item .author{margin-bottom:5px;color:#999;font-size:13px}.stream-list__item .author a{color:#999}.stream-list__item .author small{color:#ddd}.stream-list__item .title{display:inline;margin:0 5px 0 0;font-size:16px}.stream-list__item .title a{color:#333}.stream-list__item .title a:hover{color:#4285F4}.stream-list__item .title a:visited{font-weight:400}.stream-list__item .small-title{margin:0 0 5px;font-size:16px}.stream-list__item .split:before{content:"·";color:#ddd}.stream-list__item .summary{overflow:auto;overflow-x:hidden}.stream-list__item .excerpt{margin:5px 0 0;height:42px;color:#777;font-size:13px;line-height:1.6;overflow:hidden}.stream-list__item.highlight{background:#fff9eb}

.qa-rank{float:left;margin-right:5px;font-size:16px;text-align:center;line-height:1.2;color:#666}.bookmark-rank small,.qa-rank small{display:block;font-size:12px}.bookmark-rank .answers,.bookmark-rank .views,.bookmark-rank .votes,.qa-rank .answers,.qa-rank .views,.qa-rank .votes{display:inline-block;padding-top:3px;width:45px;height:40px;border-radius:1px}.bookmark-rank .answers,.qa-rank .answers{margin:0 6px;background-color:#ad3a37;color:#fff}.bookmark-rank .answered,.qa-rank .answered{background-color:#5BC0DE;color:#fff}.bookmark-rank .solved,.qa-rank .solved{background-color:#808b87}.bookmark-rank .views,.qa-rank .views{width:50px;color:#999}.bookmark-rank .plus,.qa-rank .plus{color:#AD3A37}.bookmark-rank .minus,.qa-rank .minus{color:#5BC0DE}

.taglist--inline{list-style:none;padding:0;font-size:0}.taglist--block li,.taglist--inline li{padding:0;font-size:13px}.ib.taglist--block,.ib.taglist--inline{margin:0;display:inline-block}.taglist--inline>li{display:inline-block;margin-right:5px}

.side-system-notice{border-top:1px solid #fbeed5;padding-top:10px}.side-system-notice--title{padding-left:20px;display:block;font-size:12px;color:#8a6d3b;font-size:13px}







